@*@model UrbanScienceCapstone.Models.RootObject;*@

@{
    ViewBag.Title = "www.compilemode.com";
}
@model UrbanScienceCapstone.Models.Search

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.search)
    @Html.ValidationMessageFor(model => model.search)
    <button type="submit">Search</button>
}

