

<body>
    <div class="center">
        @{
            ViewBag.Title = "Virtual Dealership Advisor";
        }
        <img id="img_logo" alt="logo" src="~/images/urban_science.jpg" />
        <h1>Welcome to the Virtual Dealership Advisor!</h1>

        @model UrbanScienceCapstone.Models.Search
        @using (Html.BeginForm("KPI", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.search, new { @class = "form-control text-box col-xs-2" })
            @Html.ValidationMessageFor(model => model.search)

          
            <button type="submit" class="btn btn-success">Search</button>

        }
        <p id="output"></p>
    </div>
</body>


